# Neovim specific
*.swp
*.swo
*.swn
.netrwhist
.viminfo
.vim/

# Plugin manager directories
plugged/
pack/*/start/
site/

# Undo files and session
undo/

# OS specific
.DS_Store
Thumbs.db

# Tags
tags

# Backup files
backup*/

# Other
noice.log
lazy-lock.json
/lua/core/mason

# Ignore Python bytecode
*.pyc
*.pyo
__pycache__/

# Ignore Node.js modules
node_modules/

# Ignore build directories
build/
dist/

# Ignore log files
*.log
