# Neovim specific
*.swp
*.swo
*.swn
.netrwhist
.viminfo
.vim/

# Plugin manager directories
plugged/
pack/*/start/

# Undo files and session
undodir/
Session.vim

# OS specific
.DS_Store
Thumbs.db

# Tags
tags

# Backup files
backup/
